.side-menu-branding {
  height: 80px;
  display: flex;
  align-items: center;
  -webkit-padding-start: 30px;
  padding-inline-start: 30px;
}

.branding-title {
  text-transform: uppercase;
  letter-spacing: 5px;
}
