.side-menu-navigation {
  padding-bottom: calc(calc(30px/3) * 4);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.flex-column {
  flex-direction: column !important;
}

.side-menu-navigation>*:not(:last-child) {
  margin-bottom: calc(30px/3);
}
